.body-section {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 150px;
}

.body-main_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 660px;
}

.body-main_container h1 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  color: #ffffff;
  margin: 0;
}

.body-images_container{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-gap: 40px;
 margin-bottom: 50px;
}
