.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ffffff;
}
.header-container_info{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.name-paragraph {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #ffffff;
  margin-bottom: 100px;
}

.header-info_greetings, strong{
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  color: #ffffff;
  margin: 0;
}

strong{
  border-bottom: 4px solid  #4ee1a0;
}

.presentation {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9d9d9;
}

.button_contact {
  border: none;
  border-bottom: 1px solid #4ee1a0;
  background-color: transparent;

}

.button_contact > a{
  outline: none;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.28571px;
  color: #ffffff;
  text-decoration: none;
}

.header-container_portrait {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  margin-bottom: 60px;
}

.icons-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  gap: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.portrait {
  filter: grayscale(100%);
  width: 400px;
  height: 600px;
}


