.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 500px;
  border-bottom: 1px solid #ffffff;
}

.header-container_info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-info_greetings,
strong {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  color: #ffffff;
  margin: 0;
}

strong {
  border-bottom: 4px solid #4ee1a0;
}

.presentation {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9d9d9;
}

.header-container_portrait {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  margin-bottom: 60px;
}

.portrait {
  filter: grayscale(100%);
  width: 500px;
  height: 700px;
}

@media (min-width: 360px) and (max-width: 460px) {
  .header-container {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .header-container_info {
    gap: 26px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .header-info_greetings,
  strong {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.13636px;
  }

  .presentation {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  .header-container_portrait {
    margin-bottom: 20px;
  }

  .header-container_portrait {
    align-items: center;
  }

  .portrait {
    width: 174px;
    height: 242px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .header-container{
   gap: 50px;
  }
  
  .header-container_info{
    gap: 20px;
    margin-left: 20px;
  }
   
  .header-info_greetings,
  strong {
    font-size: 62px;
    line-height: 62px;
    letter-spacing: -2.04545px;
  }

  .header-container_portrait{
    align-items: center;
  }
   
  .portrait {
    width: 330px;
    height: 470px;
  }

}
